*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
body{
    background-image: url(Images/background.png);
    background-repeat: repeat;
}
.container-fluid{
    background-color: #ffffff;
    padding: 0px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #cccccc;
}

.navbar-light{
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
    left:18%;
}
/*
.navbar-nav{
    display: inline;
}*/
span.navbar-brand{
    background-color: #4aaaa5;
    color: white;

}
@media screen and (max-width:760px){
    span.navbar-brand{
        margin: 0px auto;
    }
    .navbar-brand{
        position: relative;
        left: -17%;
    }
}
@media screen and (max-width:400px){
    .navbar-brand{
        position: relative;
        width: 100%;
        left: -60px;
    }
    h1{
        width: 100%;
    }
}
/*.link{
    padding: 5px 5px;
    display: inline;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #cccccc;
    color: #777777;
}
.nav-item{
    display:inline;
}*/
h1{
    font-family: 'Georgia', Times, Times New Roman,sans-serif;
    color: white;
    padding: 15px 30px;
    margin: 0 auto;
}
h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman,sans-serif;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 2px 0px;
    padding: 15px 20px;
    margin: 10px 10px;
}
/*.container{
    padding: 30px 0px 0px 0px;
    max-width: 960px;
}
.card-img-top{
    float: left;
    padding: 10px 20px;
    max-width: 240px;
    max-height: 300px;
    border-radius: .25em;
}
.card-body{
    border-style: hidden;
}
p{
    padding: 0px 20px;
    text-indent: 30px;
}*/
small{
    color: white;
    padding: 5px 15px;
}
/*span.navbar-brand{
    text-align: center;
    background-color: #777777;
}*/
.navbar-light-bottom{
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 2px 0px 0px 0px;
    background-color: #777777;
}