*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
body{
    background-image: url(Images/background.png);
    background-repeat: repeat;
}
/* Header CSS*/
.col-8{
    left: 10%;
}
.container-fluid{
    background-color: #ffffff;
    padding: 0px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #cccccc;
}
.navbar-light{
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
    left:18%;
}
span.navbar-brand{
    color: white;
}
.header{
    font-family: 'Georgia', Times, Times New Roman,sans-serif;
    color: white;
    padding: 17px 30px;
    margin: 0 auto;
    background-color: #4aaaa5;
}
.navigation{
    display: inline;
    position: relative;
    top: -40px;
    left: 90%;
    min-width: 200px;

}
.nav-item{
    display: inline;
    padding: 5px 5px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #cccccc;

}
.nav-link{
    padding: 5px 10px;
    display: inline;
    color: #777777;
}
.navbar-nav{
    display: inline;
}
/*About/Portfolio/Contact CSS*/
h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman,sans-serif;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px 0px 2px 0px;
    padding: 15px 20px;
    margin: 10px 10px;
}
.container{
    padding: 30px 0px 0px 0px;
    max-width: 960px;
    margin: 0 auto;
}
.container-2{
    padding: 5% 12%;
}
.card-img-top{
    float: left;
    padding: 10px 20px;
    width: 240px;
    height: 300px;
    border-radius: .25em;
}
.card-body{
    border-style: hidden;
}
p{
    padding: 0px 20px;
    text-indent: 30px;
}
.card-img{
    width: 450px;
    height: 400px;
    padding: 20px;
}
.card{
    display: inline-block;
    border-style: none;
}
.row{
    margin-right: -10px;
    margin-left: 0px;
    width: 960px;
}
.card-title-port{
    position: absolute;
    left: 35px;
    top: 300px;
    background-color: #4aaaa5;
    margin: 0px auto;
    padding: 20px 150px;
}
.card-port{
    display: block;
}
.contact-form{
    width: 960px;
}
label{
    padding: 10px 40px;
}
.form-control{
    width: 80%;
    margin: 5px auto;
}
.btn-primary{
    color: #cccccc;
    background-color: #4aaaa5;
}
.btn{
    position: relative;
    margin: 5px 20px 15px 50px;
}
.contact{
    width: 700px;
}
/*Footer*/
small{
    color: white;
    padding: 5px 15px;
}
.navbar-light-bottom{
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 2px 0px 0px 0px;
    background-color: #777777;
}
.footer{
    position: static;
    min-width: 100px;
    display: inline-block;
    width: 100%;
}
/* Smaller Screen Size CSS*/
@media screen and (max-width:760px){
    html, body{
        margin: 0;
        padding: 0;
    }
    span.navbar-brand{
        width: 100%;
    }
    .navbar-brand{
        position: static;
        margin: 0px auto;
        left: -200px;
    }
    .navigation{
        position: initial;
        margin: 0px auto;
    }
    .navbar-nav{
        left: 20px;
    }
    .header{
        position: static;
        
    }
    .container, .portfolio{
        width: 100%;
    }
    p{
        display: inline-block;
        width: 100%;
        padding: 15px;
    }
    .card-img-top{
        width: 100%;
        height: auto;
        margin: 0px auto;
    }
    .col-8{
        max-width: 100%;
    }
}
