*{
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image: url(Images/bkground.jpg);
    background-size: cover;
}
/* Header CSS*/
nav .brand-logo{
    position: relative;
    color: #ecd6b7;
    left: 20%;
    margin: 0 auto;
    padding: 5px 15px;
    font-family: 'Armata', sans-serif;
}
.brand-logo:hover {
    color: #c17cd3;
    text-decoration: none;
    font-weight: 600;
    font-size: 36px;
}
.nav-wrapper{
    text-decoration: none;
    background-color:#211920;
    padding: 0px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #864385;
    margin: 0 auto;
    color: #ecd6b7;
}
nav ul a {
    text-decoration: none;
    color: #ecd6b7;
}
.header{
    font-family: 'Quicksand', sans-serif;
    color: #ecd6b7;
    padding: 17px 30px;
    margin: 0 auto;
    text-decoration: none;
}
.right{
    float: none;
    position: absolute;
    left: 60%;
    display: inline;
}
.nav-link:hover{
    color: #c17cd3;
    font-size: 20px;
}
/*About/Portfolio/Contact CSS*/
h2{
    color:#864385;
    font-family: 'Quicksand', sans-serif;
    border-style: solid;
    border-color:#cccccc;
    border-width: 0px 0px 2px 0px;
    padding: 15px 20px;
    margin: 10px 10px;
}
.container{
    padding: 30px 0px 0px 0px;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 5px 10px 10px 5px; 
}
.container-2{
    padding: 5% 12%;
}
.card-img-top{
    float: left;
    padding: 10px 20px;
    width: 240px;
    height: 300px;
    border-radius: .25em;
}
.card-img-overlay{
    position: absolute;
    top: 70%;
    background-color: #4aaaa5;
    margin: 0px auto;
    max-width: 86%;
    max-height: 70px;
}
.card-body{
    border-style: hidden;
}
p{
    padding: 0px 20px;
    text-indent: 30px;
    font-size: 20px;
}
.card-img{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}
.card{
    display: inline-block;
    border-style: none;
}
.row{
    margin-right: -10px;
    margin-left: 0px;
    margin-bottom: 5%;
    max-width: 960px;
    max-height: 450px;
}
.card-title-port{
    margin: 0 auto;
    position: relative;
    left: 30%;
}
.card-port{
    display: block;
    max-width: 960px;
}

.form-group {
    padding: 0 5%;
    width: 90%;
}
label{
    padding: 10px 40px;
}
.form-control{
    width: 80%;
    margin: 5px auto;
}
.btn-primary{
    color: #cccccc;
    background-color: #4aaaa5;
}
.btn{
    position: relative;
    margin: 5px 20px 15px 50px;
}
.contact{
    width: 700px;
}
.col-6{
    width: 50%;
}
/*Footer*/
small{
    color: #ecd6b7;
    padding: 5px 10px;
}
.navbar-light-bottom{
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: #864385;
    background-color:#211920;
    height: 40px;
}
.footer{
    position: relative;
    left: 40%;
    color: #ecd6b7;
    min-width: 100px;
    display: inline-block;
    width: 100%;
}
/* Extra Small Screen Size CSS*/
@media screen and (max-width:425px){
    html, body{
        margin: 0;
        padding: 0;
    }
    nav .sidenav-trigger{
        float: right;
    }
    nav .brand-logo{
        left: 35%;
    }
    p{
        display: inline-block;
        width: 100%;
        padding: 15px;
    }
    .card-img-top{
        width: 100%;
        height: auto;
        margin: 0px auto;
    }
    .col-8{
        max-width: 100%;
    }
    .row{
        max-width: 380px;
        height: 200px;
    }
    .card-img-overlay{
        top: 60%;
        max-width: 63%;
        max-height: 20px;
    }
    .card-title-port{
        left: 5%;
    }
    h5{
        font-size: 1rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .contact{
        width: 325px;
    }
    .footer{
        left: 15%;
    }
}
/*Small Screen Size CSS*/
@media screen and (width:768px){
    html, body{
        margin: 0;
        padding: 0;
    }

    p{
        width: 100%;
        padding: 15px;
    }
    .card-img-top{
        width: 49%;
        height: auto;
        margin: 0px auto;
    }
    .col-8{
        max-width: 100%;
    }
    .row{
        max-width: 650px;
        height: 360px;
    }
    .card-img-overlay{
        max-width: 79%;
    }
    .contact{
        width: 600px;
    }
}
/*Medium Screen Size CSS*/
@media screen and (width: 1024px){
    nav .brand-logo{
        font-size: 24px;
    }
    .row{
        max-width: 714px;
        height: 400px;
    }
    .card-img-overlay{
        max-width: 81%;

    }
    .card-title-port{
        left:25%;
    }
}
